
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Login/logout is completed
    </div>
    <script>
        window.top.location.reload();
    </script>
</body>
</html>
